@charset "utf-8";

.input {
  display: inherit;
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  font-size: 24px;
  background-color: #fff;
  border: 1px solid black;
  cursor: pointer;


  // &.input-edit {
  //   width: calc(100% - 160px);
  //   height: 35px;
  //   line-height: 35px;
  //   margin-left: 10px;
  //   border: 1px solid #beb9b9;
  // }

  // &.input-checkbox {
  //   width: 0;
  //   padding: 0;
  // }
}

.label {
  height: 40px;
  line-height: 40px;
  cursor: pointer;

  // a11y-hidden 속성 적용
  &.label-add {

    +span {
      display: none;
    }

  }

  &.label-edit {


    +span {
      display: none;
    }
  }

  &.label-checkbox+span {
    width: calc(100% - 145px);
    height: 33x;
    line-height: 33px;
    margin-left: 10px;
    font-size: 24px;
    text-transform: capitalize;
  }

  &.label-checkbox.a11y-hidden+span {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
  }

  // &.label-checkbox {
  //  
  //   width: 25px;
  //   height: 25px;
  //   background: url("../../assets/icons/icon-check.svg");
  //   background-size: cover;
  // }

  // &.label-checkbox:active {
  //  
  //   display: inline-block;
  //   width: 25px;
  //   height: 25px;
  //   background: url("../../assets/icons/icon-no-check.svg");
  //   background-size: cover;
  //   margin-right: 10px;
  //   cursor: pointer;
  // }

}