@charset "utf-8";

.lable {
  width: 100%;
  margin-right: 20px;

  input,
  .input {
    border: 0;
    background-color: #fff;


    &.input-add {
      width: inherit;
      height: 40px;
      padding-left: 3px;
      border-radius: 3px;
      font-size: 20px;
    }

    &.input-add:focus {
      outline: 0;
    }
  }
}