  .todo {

    &__incompleted-wrapper {
      li {
        display: flex;
        height: 40px;
        line-height: 40px;
        margin: 10px 0;
        border-bottom: 1px solid #595959;
      }

      .label {
        &__is-readonly {
          width: calc(100% - 135px);
          margin-left: 10px;
        }

        &__input {
          width: 100%;
          position: relative;
          top: -5px;
          font-size: 24px;
        }

        &--edit {
          width: calc(100% - 135px);
          margin-left: 10px;

          :focus {
            outline: 0;
          }
        }

      }

      .input {
        &__is-readonly {
          display: none;

        }

        &--edit {
          width: 100%;
          position: relative;
          top: -5px;
          height: 35px;
          line-height: 35px;
          border-color: #beb9b9;
        }
      }

      .todo-btngroup {
        position: relative;
        top: -5px;

        &--save {
          align-items: flex-end;
        }

        &--delete {
          padding: 0 0 0 65px;
        }
      }
    }

    &__completed-wrapper {

      li {
        display: flex;
        height: 40px;
        line-height: 40px;
        margin: 10px 0;
        border-bottom: 1px solid #595959;
      }

      .label {
        &__is-readonly {
          width: calc(100% - 85px);
          margin-left: 10px;
          text-decoration: line-through;
          color: #888;

          :focus {
            outline: 0;
          }
        }

        &__input {
          width: 100%;
          position: relative;
          top: -5px;
          font-size: 24px;
        }
      }

      .input {
        &__is-readonly {
          display: none;
        }
      }

      .todo-btngroup {
        position: relative;
        top: -5px;
      }
    }
  }