  .todo {
    li {
      display: flex;
      height: 40px;
      line-height: 40px;
      margin: 10px 0;
      border-bottom: 1px solid #595959;
    }

    .incomplete .todo-btngroup .delete-button {
      margin: 0 0 0 8px;
    }
  }

  .completed {
    .label {
      text-decoration: line-through;
      color: #888;
    }

    .todo-btngroup .delete-button {
      padding: 0 0 0 65px;
    }
  }