  .todo {

    li {
      display: flex;
      height: 37px;
      line-height: 37px;
      margin: 10px 0;
      // padding-bottom: 5px;
      border-bottom: 1px solid #eee;

      label {
        display: inherit;
        order: -1;
        //padding-top: 5px;
        box-sizing: border-box;
        width: calc(100% - 125px);
        min-height: 37px;
        font-size: 18px;
        word-wrap: break-all;

      }

      .todo-btngroup {
        box-sizing: border-box;
        // height: 37px;
        // line-height: 37px;
        margin-left: 10px;
        margin-bottom: 8px;

        .button {
          height: 37px;
          line-height: 37px;
          padding: 0 10px;
        }

        .delete-button {
          padding: 0 0 0 10px;
        }
      }
    }
  }