.todo {
  li {
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }

  li::after {
    clear: both;
    display: table;
    content: "";
  }

  label {
    display: block;
    float: left;
    width: calc(100% - 180px);
    min-height: 37px;
    padding-top: 5px;
    font-size: 18px;
    box-sizing: border-box;
    word-wrap: break-all;
  }

  .todo-btngroup {
    float: right;

    button {
      padding: 0 10px;
      height: 37px;
      line-height: 37px;
    }
  }
}
