@charset "utf-8";

button,
.button {
  font-size: 18px;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-transform: capitalize;
  background: none;
  cursor: pointer;

  &.add-button {
    align-self: flex-end;
    width: 50px;
    height: 40px;
    line-height: 40px;
  }
}