.form-add {
  &__input-wrapper {
    margin-top: 10px;
  }

  .label__input {
    display: none;
  }

  .input--add {
    width: calc(100% - 60px);
    padding-right: 0;

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 1px blue;
    }
  }

  .button--add {
    align-items: flex-end;
    padding: 0 0 0 20px;
  }

  .is-error::before {
    content: "Please enter the contents";
    margin-top: -6px;
  }
}
