@charset "utf-8";

body {
  overflow: scroll;
  background-color: #003666;


  section {
    width: 450px;
    margin: 100px auto;
    padding: 20px 20px;
    border-radius: 5px;
    background-color: #fff;
  }

  h1,
  h2,
  h3 {
    text-transform: uppercase;
  }

  h1 {
    font-size: 45px;
    text-align: center;
  }

  h2 {
    font-size: 25px;
    margin-top: 10px;
    border-bottom: 2px solid #595959e3;
  }
}