@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

/* margin, padding */
body,
main,
div,
span,
input,
label,
button,
form,
ul,
li,
h1,
h2,
h3,
h4,
h5,
b,
i,
p,
form {
  margin: 0;
  padding: 0;
}

/* list */
ol,
ul,
dl,
li,
dt {
  list-style: none;
}

/* title */
h1,
h2,
h3,
h4,
h5 {
  color: #595959;
  font-weight: 600;
}

b,
strong,
i {
  font-style: normal;
}

body,
input,
label,
button,
p,
ul,
li,
ol,
span,
div,
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Amatic SC', cursive;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5;
  color: #595959;
}