@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

/* margin, padding */
body,
main,
div,
span,
input,
label,
button,
form,
ul,
li,
h1,
h2,
h3,
h4,
h5,
b,
i,
p,
form {
  margin: 0;
  padding: 0;
}


ol,
ul,
dl,
li,
dt {
  list-style: none;
}


h1,
h2,
h3 {
  color: #595959;
  font-weight: 600;
}


body,
input,
label,
button,
p,
ul,
li,
ol,
span,
div,
h1,
h2,
h3 {
  font-family: 'Amatic SC', cursive;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5;
  color: #595959;
}

body {
  overflow: scroll;
  background: #003666;
}